---
// Comparison section component
---

<section aria-labelledby="comparison-heading">
  <h2 id="comparison-heading">他の選択肢との比較</h2>
  <table>
    <caption>サービス比較表</caption>
    <thead>
      <tr>
        <th scope="col">対応方法</th>
        <th scope="col">費用</th>
        <th scope="col">期間</th>
        <th scope="col">成功率</th>
        <th scope="col">負担</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><strong>当サービス</strong></th>
        <td>22万円〜</td>
        <td>1-6ヶ月</td>
        <td>95%以上</td>
        <td>なし</td>
      </tr>
      <tr>
        <th scope="row">自力で対応</th>
        <td>実費のみ</td>
        <td>1年以上</td>
        <td>30%程度</td>
        <td>非常に大</td>
      </tr>
      <tr>
        <th scope="row">現地渡航</th>
        <td>30-50万円</td>
        <td>1週間+準備期間</td>
        <td>70%程度</td>
        <td>大</td>
      </tr>
      <tr>
        <th scope="row">放置継続</th>
        <td>維持費累積</td>
        <td>-</td>
        <td>預金消失リスク</td>
        <td>将来的に増大</td>
      </tr>
    </tbody>
  </table>
</section>
