---
import { Image } from 'astro:assets';
import logo from '../assets/images/logo.svg';
---

<header
  class="slide-down fixed z-50 flex w-full items-center justify-between p-3 sm:p-6"
>
  <!-- Logo -->
  <div>
    <a href="/" class="flex items-center space-x-2">
      <Image
        src={logo}
        class="h-6 w-auto sm:h-8"
        alt="海外口座解約手続サポート"
      />
      <h1 class="text-primary-600 text-xl font-bold sm:text-3xl">
        海外口座解約手続サポート
      </h1>
    </a>
  </div>
  <!-- CTA -->
  <div>
    <a
      class="bg-primary-500 hover:bg-primary-400 group flex items-center justify-between gap-7 rounded-full px-4 py-2 font-bold text-white transition-all duration-300 hover:shadow-lg sm:px-6 sm:py-4"
      href="#contact"
    >
      <span
        class="icon-[mdi--mail] block text-2xl text-white transition-transform duration-300 group-hover:translate-x-1"
      >
      </span>
      <span class="hidden text-center text-sm sm:block sm:text-base/[1]">
        メールで相談する<br />
        <small class="text-accent-300 text-xs">相談は無料です</small>
      </span>
    </a>
  </div>
</header>
