---
import logo from '@/assets/images/logo.svg';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
---

<header
  class="animate-slide-down-600 fixed z-50 flex w-full items-center justify-between p-3 sm:p-6"
>
  <!-- Logo -->
  <div>
    <a href="/goals21/" class="flex items-center space-x-2">
      <Image
        src={logo}
        class="h-8 w-auto sm:h-12"
        alt="海外口座解約手続サポート"
      />
      <h1
        class="from-primary-500 to-primary-700 bg-gradient-to-r bg-clip-text text-xl font-black text-transparent md:text-4xl"
      >
        海外口座解約手続サポート
      </h1>
    </a>
  </div>
  <!-- CTA -->
  <div>
    <a
      class="bg-primary-500 hover:bg-primary-400 group flex items-center justify-between gap-7 rounded-full px-4 py-2 font-bold text-white shadow transition-all duration-300 hover:shadow-lg sm:px-6 sm:py-4"
      href="#contact"
    >
      <Icon
        name="mdi:mail"
        class="block text-2xl text-white transition-transform duration-300 group-hover:translate-x-1"
      />
      <span class="hidden text-center text-sm md:block md:text-base/[1]">
        メールで相談する<br />
        <small class="text-xs text-yellow-300">相談は無料です</small>
      </span>
    </a>
  </div>
</header>
