---
import Title from '@/assets/images/hero_title.png';
import { Image } from 'astro:assets';
---

<section class="p-6 sm:p-12" itemscope itemtype="https://schema.org/Service">
  <div
    class="animate-reveal-from-left-600 relative h-[calc(100vh-3rem)] rounded-2xl bg-[url(../assets/images/hero_sm.jpg)] bg-cover bg-bottom bg-no-repeat md:h-[calc(100svh-6rem)] md:bg-[url(../assets/images/hero.jpg)] md:bg-bottom-right"
  >
    <div class="absolute bottom-[28vh] left-0 w-full p-6 md:w-2/4 md:pl-12">
      <Image
        slot="image"
        src={Title}
        alt="海外銀行解約手続きサポート"
        class="w-full"
        loading="lazy"
        format="webp"
      />
    </div>
    <div
      class="absolute right-0 bottom-0 rounded-tl-xl bg-white pt-4 pr-0 pb-0 pl-6 text-right sm:rounded-tl-2xl sm:pt-6 sm:pl-8"
    >
      <ul
        class="animate-slide-in-left-800 animate-delay-500 from-primary-500 to-primary-700 mb-2 bg-gradient-to-r bg-clip-text text-lg font-bold text-transparent md:mb-3 md:text-xl"
      >
        <li>
          <strong>現地に行かずに、閉じられます！</strong>
        </li>
        <li>
          <strong>
            もちろん口座内の預金は
            <br class="block md:hidden" />
            ご指定の銀行口座に送金可能
          </strong>
        </li>
      </ul>
      <p
        class="animate-slide-in-left-800 animate-delay-800 text-base md:text-base"
      >
        口座凍結・州政府移管・相続手続き…
        <br />
        複雑な海外口座の問題を、
        <br class="block md:hidden" />
        実績多数の専門チームが解決します。
      </p>
    </div>
  </div>
</section>
