---
// Pricing section component
---

<section
  aria-labelledby="pricing-heading"
  itemscope
  itemtype="https://schema.org/PriceSpecification"
>
  <h2 id="pricing-heading">サポート料金</h2>
  <table>
    <caption>サービス料金表</caption>
    <thead>
      <tr>
        <th scope="col">サービス内容</th>
        <th scope="col">料金</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">個人口座解約手続サポート</th>
        <td itemprop="price">220,000円（税込）</td>
      </tr>
      <tr>
        <th scope="row">相続口座解約手続サポート</th>
        <td>440,000円～（税込）</td>
      </tr>
      <tr>
        <th scope="row">法人口座解約手続サポート</th>
        <td>330,000円～（税込）</td>
      </tr>
    </tbody>
  </table>
  <p>
    <small>※書類認証費用や国際郵便料金などの実費は別途必要となります。</small>
  </p>
</section>
